@model EventApplicationCore.Model.Flower
@{
    Layout = "~/Views/Shared/_AdminNewLayout.cshtml";
}
<!-- Navbar -->
<nav class="navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Edit","Flower")" class="nav-link"><strong>Edit Venue</strong></a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="@Url.Action("Add","Venue")" class="btn btn-primary" title="Add"><i class="fa fa-plus"></i><span class="p-2">Add</span></a>
        </li>
    </ul>
</nav>
<div class="content">
    <div class="container-fluid pt-3">
        @*<div class="container">*@
    <form method="post" enctype="multipart/form-data" asp-controller="Flower" asp-action="Edit">
        <div class="col-xs-offset-0 col-xs-4">
            <input asp-for="FlowerID" type="hidden" />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @*<h3><span class="label label-info">Edit Flower</span></h3>*@

            <div class="form-group">
                <label class="control-label" asp-for="FlowerName">Flower Name</label>
                <input asp-for="FlowerName" type="text" onblur="CheckFlowerNameExists();" class="form-control" />
                <span asp-validation-for="FlowerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="FlowerCost">Flower Cost</label>
                <input asp-for="FlowerCost" type="text" class="form-control" />
                <span asp-validation-for="FlowerCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="controls">
                    <label class="control-label">Upload Flower</label>
                    <input type="file" title="Please Upload Flower" name="files" multiple />
                    <br />
                    @if (!string.IsNullOrEmpty(Model.FlowerFilePath))
                    {
                        <img src="/@Model.FlowerFilePath" height="100" width="200" alt="Uploaded Flower" title="Uploaded Flower" />
                    }

                </div>
            </div>

            <div class="form-actions">
                <input id="Submit" type="submit" class="btn btn-success" value="Update Flower" />
                <a href="/AllFlower/ViewAllFlowers" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
    </div><!-- /.container-fluid -->
</div><!-- /.content -->

    <script type="text/javascript">
        function CheckFlowerNameExists()
    {
            var url = '@Url.Content("~/")' + "Equipment/CheckFlowerNameExists";
            var source = "#FlowerName";
            $.post(url, { FlowerName: $(source).val() },
            function (data)
                {
                    if (data)
                    {
                        $(source).val('');
                        alert("Flower Name Already Used try unique one!");
                    }
                    else
                    {

                    }
                });
    }

    </script>