@model EventApplicationCore.Model.DashboardModel
@{
    Layout = "~/Views/Shared/_AdminNewLayout.cshtml";
}
<!-- Navbar -->
<nav class="navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Dashboard","Admin")" class="nav-link"><strong>Dashboard</strong></a>
        </li>
    </ul>

    @*<!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="@Url.Action("Add","Venue")" class="btn btn-primary" title="Add" style="margin-right:17px;"><i class="fa fa-plus"></i><span class="p-2">Add</span></a>
        </li>
    </ul>*@
</nav>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <br />
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
             <h3>@Model.AdminDashboard.TotalBooking</h3>

                <p>Total Booking</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer" onclick="toogleRow()">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    
</div>
<!-- /.row -->
        <div class="row" id="myRow" style="display:none">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.AdminDashboard.TotalApprovedBooking@*<sup style="font-size: 20px">%</sup>*@</h3>

                        <p>Total Approved Booking</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-checkmark"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.AdminDashboard.TotalCancelledBooking</h3>

                        <p>Total Cancelled Booking</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-close"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.AdminDashboard.TotalPendingBooking</h3>

                        <p>Total Pending Booking</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-clock"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.AdminDashboard.TotalRejectedBooking</h3>

                        <p>Total Rejected Booking</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-thumbsdown"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>
    function toogleRow(){
        var row = document.getElementById("myRow");
        if(row.style.display === "none"){
            row.style.display = "flex";
        } else {
            row.style.display = "none";
        }
    }
</script>